<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="userSQL">
  	<select id="login" resultType="user" parameterType="java.util.Map">
  		select * from USER where user_email = #{user_id} and user_pwd = #{user_pwd}
  	</select>
	
  	<select id="signUpCheck" parameterType="user" resultType="String">
		select count(*) from USER where phone=#{phone}
	</select>
  	<insert id="signUp" parameterType="user">
  		insert into USER(user_email,user_pwd,authority,phone,reg_date) values(#{user_email}, #{user_pwd} ,1,#{phone}, now())
  	</insert>
  	<select id="emailCheck" parameterType="String" resultType="String">
  		select count(*) from USER where user_email=#{user_email}
	</select>
  	<select id="getProfileList" parameterType="java.util.Map" resultType="userProfile">
  		select * from USER_PROFILE where user_email=#{user_email}
  	</select>
  	<select id="getProfile" parameterType="java.util.Map" resultType="userProfile">
  		select * from USER_PROFILE where profile_id=#{profile_id}
  	</select>
  	<select id="getProfileIdSeq" resultType="int">
  		select count(*) from USER_PROFILE;
  	</select>
  	<insert id="addProfile" parameterType="java.util.Map">
  		insert into USER_PROFILE values (
  			#{profile_id},
  			#{profile_name},
  			#{user_email},
  			#{img_path},
  			1
  		)
  	</insert>

  	<update id="membershipUp" parameterType="java.util.Map">
  		update USER set memberShip = 1 where user_email=#{user_email} 
  	</update>
  	<insert id="insertBilling" parameterType="java.util.Map">
  		insert into PAY_TYPE(card_number , user_email , card_company) values(#{customer_uid}, #{user_email} , '카카오');
  	</insert>
  	
  	<delete id="deleteProfile" parameterType="java.util.Map">
  		delete from USER_PROFILE where profile_id = #{profile_id}
  	</delete>
  	<insert id="updateProfile" parameterType="java.util.Map">
  		update USER_PROFILE set PROFILE_NAME = #{profile_name} where profile_id = #{profile_id}
  	</insert>
  	<!-- my page main 정보 불러오기 -->
  	<select id="getUSER" parameterType="String" resultType="user">
  	 select * from USER where user_email =#{user_email}
  	</select>
  	<select id="priceMethod" parameterType="String" resultType="String">
  	select card_company from PAY_TYPE where user_email=#{user_email}
  	</select>
  	<select id="getMembership" parameterType="String" resultType="int">
  	select membership_id from USER where user_email=#{user_email}
  	</select>
  	
  	

  </mapper>
 