<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="userChatSQL">
  	
  	<insert id="createChatRoom" parameterType="java.util.Map">
  		insert into CHAT_ROOM
	  		(
	  			chat_room_id,
				chat_code,
				profile_id,
				video_id,
				video_type,
				play_time,
				room_title
			)values
			(
				#{seq}+1,
				#{chat_code},
				#{profile_id},
				null,
				null,
				now(),
				#{room_title}
			)
			
    </insert>
  	<insert id="joinChatRoom" parameterType="java.util.Map">
  		insert into CHAT_PARTICIPANT
  			(chat_room_id ,profile_id)
  				values
		  			(	
		  				#{chat_room_id},
		  				#{profile_id}
		  			)
  	</insert>
  	<select id="getChatRoomId" resultType="String" parameterType="java.util.Map">
  		select chat_room_id from CHAT_ROOM where CHAT_CODE = #{chat_code}
  	</select>
  	
  	<select id="getListChatRoom" resultType="userChatRoom" parameterType="java.util.Map">
  		select * from CHAT_ROOM
			LEFT OUTER JOIN CHAT_PARTICIPANT
    		On CHAT_PARTICIPANT.PROFILE_ID = #{profile_id}<!-- 로그인 한사람 -->
            where CHAT_ROOM.CHAT_ROOM_ID = CHAT_PARTICIPANT.CHAT_ROOM_ID
  	</select>
  	<select id="chatRoomSeq" resultType="int">
  		select max(CHAT_ROOM_ID) from CHAT_ROOM
  	</select>
  	<select id="chatSeq" resultType="int">
  		select max(CHAT_ID) from CHAT
  	</select>
  	<insert id="sendChat" parameterType="java.util.Map">
  		insert into CHAT(
			chat_id,
			content,
			profile_id,
			chat_room_id,
			reg_date
  		)
  		values(
  			#{seq},
  			#{content},
  			#{profile_id},
  			#{chat_room_id},
  			now()
  		)
  	</insert>
  	<select id="getUserChatList" resultType="userChat" parameterType="java.util.Map">
  		select * from CHAT as a Inner Join USER_PROFILE as b on a.PROFILE_ID = b.PROFILE_ID and a.chat_Room_id = #{chat_room_id}
  		
  	</select>
  </mapper>
 