*{
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.user-container { 
    background: #a9bdce;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

.user-container label {
    font-size: 14px;
    margin-right: 1rem;
}

.user-container input {
    border-radius: 3px;
    border: none;
    height:100%
}


.display-container {
    flex: 12;
    background: #fff;
    overflow-y: scroll;
}

.input-container {
    flex: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    
}

.input-container span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
    width: 100%;
}

.chatting-input {
    font-size: 12px;
    height: 100%;
    flex: 8;
    border: none;
}

.send-button {
    flex :1;
    background: #ffeb33;
    border: none;
    height: 100%;
    border-radius: 3px;
}

.chatting-list li {
    width: 100%;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0.5rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.profile .user {
    font-size: 10px;
    margin-bottom: 0.3rem;;
}

.profile .image {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height : 50px;
}

.message {
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 12px;
    margin: 0 5px;
    flex: 7px;
    max-width: 500px;   
    width: auto;
}

.time {
    font-size: 10px;
    margin: 0 5px;
}

.sent {
    flex-direction: row-reverse;
    float: right;
}

.sent .message {
    background: #0c82fe;
    color: #e7e6eb;
}

.received .message {
    background: #e7e6eb;
}

.chat-header {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-end;
    width: 100%;
    padding: 16px;
    background: #fff;
    box-shadow: 0 1px 12px rgb(0 0 0 / 20%);
}

.chat-end-button {
    padding: 0px;
    outline: none;
    position: relative;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid transparent;
    line-height: 0px;
    letter-spacing: .01em;
    text-align: right;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

svg {
    vertical-align: middle;
}

.x-img {
    width: 10px;
    height: 10px;
}