.member-footer {
    color: grey;
    margin: 20px auto 0;
    max-width: 980px;
    padding: 0 4%;
}
.member-footer .social-links {
    display: flex;
    margin-bottom: 1em;
}
.member-footer .social-links .social-link {
    margin-right: 15px;
}
.member-footer .social-links .social-link .svg-icon {
    fill: grey;
    height: 25px;
    width: 36px;
}
.member-footer .member-footer-help {
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0;
}
.member-footer .member-footer-links {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    margin: 0 0 14px;
    padding: 0;
}
.member-footer .member-footer-link-wrapper {
    box-sizing: border-box;
    flex: 0 0 50%;
    list-style-type: none;
    margin-bottom: 16px;
}
@media (min-width: 800px) {
    .member-footer .member-footer-link-wrapper {
        flex-basis: 25%;
    }
}
.member-footer .member-footer-link {
    color: grey;
    text-decoration: none;
}
.member-footer .member-footer-link:hover {
    text-decoration: underline;
}
.member-footer .member-footer-link-update {
    font-weight: 700;
}
.member-footer .member-footer-copyright {
    font-size: 11px;
    margin-bottom: 15px;
}
.member-footer .member-footer-copyright-instance {
    display: inline-block;
    padding: 0 4px;
}
.member-footer .service-code {
    font-size: 13px;
    margin-bottom: 20px;
    padding: 0.5em;
}
.member-footer .copy-text-block + .copy-text-block {
    margin-top: 4px;
}
.member-footer .copy-text-block + .copy-text-block a {
    color: grey;
}
.member-footer .copy-text-block + .copy-text-block a:hover {
    text-decoration: underline;
}
.service-code {
    background: transparent;
    border: 1px solid grey;
    color: grey;
    font-size: 1.3rem;
    padding: 0.5rem;
}
.service-code:hover {
    color: #fff;
    cursor: pointer;
}