.c1-member-footer {
    color: grey;
    margin: 100px auto 0;
    max-width: 1248px;
    padding: 0 4%;
    height: 270px;
}
.c1-member-footer .c1-social-links {
    display: flex;
    margin-bottom: 2em;
    color: white;
}
.c1-member-footer .c1-social-links .c1-social-link {
    margin-right: 15px;
}
.c1-member-footer .c1-social-links .c1-social-link .c1-svg-icon {
    fill: grey;
    height: 25px;
    width: 36px;
}
.c1-member-footer .c1-member-footer-links {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    margin: 0 0 14px;
    padding: 0;
}
.c1-member-footer .c1-member-footer-link-wrapper {
    box-sizing: border-box;
    flex: 0 0 50%;
    list-style-type: none;
    margin-bottom: 16px;
}
@media (min-width: 800px) {
    .c1-member-footer .c1-member-footer-link-wrapper {
        flex-basis: 25%;
    }
}
.c1-member-footer .c1-member-footer-link {
    color: grey;
    text-decoration: none;
}
.c1-member-footer .c1-member-footer-link:hover {
    text-decoration: underline;
}
.c1-member-footer .c1-member-footer-link-update {
    font-weight: 700;
}
.c1-member-footer .c1-member-footer-copyright {
    font-size: 11px;
    margin-bottom: 15px;
}
.c1-member-footer .c1-member-footer-copyright-instance {
    display: inline-block;
    padding: 0 4px;
}
.c1-member-footer .c1-service-code {
    font-size: 13px;
    margin-bottom: 20px;
    padding: 0.5em;
}
.c1-member-footer .c1-copy-text-block + .c1-copy-text-block {
    margin-top: 7px;
}
.c1-member-footer .c1-copy-text-block + .c1-copy-text-block a {
    color: grey;
}
.c1-member-footer .c1-copy-text-block + .c1-copy-text-block a:hover {
    text-decoration: underline;
}
.c1-service-code {
    background: transparent;
    border: 1px solid grey;
    color: grey;
    font-size: 1.3rem;
    padding: 0.5rem;
}
.c1-service-code:hover {
    color: #fff;
    cursor: pointer;
}