
@font-face {
  font-family: nf-icon;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot);
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot?#iefix)
      format("embedded-opentype"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.woff) format("woff"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.ttf) format("truetype"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.svg#nf-icon-v1-93) format("svg");
}
[class*=" icon-"],
[class^="icon-"] {
  font-family: nf-icon;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  transform: translateZ(0);
}
.icon-leftCaret:before{
  content:"\e868"
}
.icon-rightCaret:before {
  content: "\e867";
}
.icon-akiraCaretRight:before {
  content: "\e658";
}
.lolomoRow {
  z-index: 1;
}
.rowContainer {
  position: relative;
  z-index: 0;
}
.rowContainer .rowContent {
  box-sizing: border-box;
  padding: 0;
}
.rowContainer .rowContent .slider {
  z-index: 2;
}
.rowContainer .rowContent .slider .handle {
  background: hsla(0, 0%, 8%, 0.5);
}
.rowContainer .rowContent .slider:hover .handle.active:hover {
  background: hsla(0, 0%, 8%, 0.7);
}
@media screen and (max-width: 499px) {
  .rowContainer .rowContent .slider .row-with-x-columns .slider-item {
    width: 50%;
  }
}
@media screen and (min-width: 500px) and (max-width: 799px) {
  .rowContainer .rowContent .slider .row-with-x-columns .slider-item {
    width: 33.333333%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1099px) {
  .rowContainer .rowContent .slider .row-with-x-columns .slider-item {
    width: 25%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .rowContainer .rowContent .slider .row-with-x-columns .slider-item {
    width: 20%;
  }
}
@media screen and (min-width: 1400px) {
  .rowContainer .rowContent .slider .row-with-x-columns .slider-item {
    width: 16.66666667%;
  }
}
.lolomo {
  overflow-x: hidden;
}
.slider {
  margin: 0;
  padding: 0 4%;
  position: relative;
  touch-action: pan-y;
}
@media screen and (min-width: 1500px) {
  .slider {
    padding: 0 60px;
  }
}
.slider .sliderMask {
  overflow-x: hidden;
  padding-bottom: 1px;
}
.slider .sliderMask .sliderContent {
  white-space: nowrap;
}
.slider .sliderMask .sliderContent .slider-item {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 0.2vw;
  position: relative;
  vertical-align: top;
  white-space: normal;
  z-index: 1;
}
.slider .sliderMask .sliderContent .slider-item:hover {
  z-index: 2;
}
.slider .sliderMask .sliderContent .slider-item:last-child {
  padding-right: 0;
}
.slider .sliderMask .sliderContent .slider-item:first-child {
  padding-left: 0;
}
.slider .sliderMask.showPeek {
  overflow-x: visible;
}
.slider .handle {
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  width: 4%;
  z-index: 20;
}
@media screen and (min-width: 1500px) {
  .slider .handle {
    width: 60px;
  }
}
.slider .handle.active {
  cursor: pointer;
}
.slider .handle > .indicator-icon {
  align-self: center;
  display: none;
  font-size: 2.5vw;
  height: auto;
  transition: transform 0.1s ease-out 0s;
}
@media screen and (min-width: 1500px) {
  .slider .handle > .indicator-icon {
    font-size: 2em;
  }
}
.slider .handle.handlePrev {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  left: -2px;
}
.slider .handle .indicator-icon {
  transform-origin: 55% 50%;
}
.slider .handle.handleNext {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  right: 0;
}
.slider .handle.handleNext .indicator-icon {
  transform-origin: 45% 50%;
}
.slider.preview-modal-open-in-row .indicator-icon,
.slider.preview-modal-open-in-row .pagination-indicator {
  display: block;
}
.slider-hover-trigger-layer:hover .slider .handle.active .indicator-icon {
  display: block;
}
.slider-hover-trigger-layer:hover .slider .handle.active:hover .indicator-icon {
  color: #fff;
  font-weight: 700;
  transform: scale(1.25);
}
.slider-hover-trigger-layer .slider .handle.active:focus .indicator-icon {
  color: #fff;
  display: block;
  font-weight: 700;
  transform: scale(1.25);
}
.lolomo {
  overflow: hidden;
  padding: 0 0 50px;
  z-index: 0;
}
.lolomoRow {
  outline: 0;
  position: relative;
}
.lolomoRow.lolomoRow_title_card {
  box-sizing: border-box;
  margin: 3vw 0;
  padding: 0;
}
.lolomoRow.lolomoRow_title_card:hover {
  z-index: 3;
}
.lolomoRow.lolomoPreview .rowContent {
  overflow: hidden;
  white-space: nowrap;
}
.lolomoRow .pagination-indicator {
  display: none;
  list-style-type: none;
  margin: -24px 0 12px;
  padding: 0;
  position: absolute;
  right: 4%;
  top: 0;
}
@media screen and (min-width: 1500px) {
  .lolomoRow .pagination-indicator {
    right: 62px;
  }
}
.lolomoRow .pagination-indicator li {
  background-color: #4d4d4d;
  display: inline-block;
  height: 2px;
  margin-left: 1px;
  width: 12px;
}
.lolomoRow .pagination-indicator .active {
  background-color: #aaa;
}
.lolomoRow .slider:hover .pagination-indicator {
  display: block;
}
.lolomoRow.lolomoRow_title_card .rowTitle {
  color: #e5e5e5;
  display: inline-block;
  font-size: 1.4vw;
  font-weight: 700;
  margin: 0 4% 0.5em;
  min-width: 6em;
  text-decoration: none;
}
@media screen and (min-width: 1500px) {
  .lolomoRow.lolomoRow_title_card .rowTitle {
    margin-left: 60px;
  }
}
@media screen and (max-width: 800px) {
  .lolomoRow.lolomoRow_title_card .rowTitle {
    font-size: 12px;
  }
}
.lolomoRow.lolomoRow_title_card .rowTitle .row-header-title {
  display: table-cell;
  font-size: 1.4vw;
  line-height: 1.25vw;
  vertical-align: bottom;
}
@media screen and (max-width: 800px) {
  .lolomoRow.lolomoRow_title_card .rowTitle .row-header-title {
    font-size: 12px;
  }
}
.lolomoRow.lolomoRow_title_card .rowTitle .aro-row-chevron {
  display: none;
  font-size: 0.9vw;
  transition: transform 0.75s;
  vertical-align: bottom;
}
.lolomoRow.lolomoRow_title_card .rowTitle .aro-row-header {
  display: table-cell;
  vertical-align: bottom;
}
.lolomoRow.lolomoRow_title_card .rowTitle .aro-row-header .see-all-link {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9vw;
  line-height: 0.8vw;
  margin-right: 4px;
  max-width: 0;
  opacity: 0;
  transition: max-width 1s, opacity 1s, transform 0.75s;
  vertical-align: bottom;
  white-space: nowrap;
}
@media screen and (max-width: 800px) {
  .lolomoRow.lolomoRow_title_card .rowTitle .aro-row-header .see-all-link {
    font-size: 8px;
  }
}
.lolomoRow.lolomoRow_title_card .rowTitle .aro-row-header.more-visible .aro-row-chevron,
.lolomoRow.lolomoRow_title_card .rowTitle .aro-row-header.more-visible .see-all-link {
  color: #54b9c5;
}
.lolomoRow.lolomoRow_title_card a.rowTitle:focus,
.lolomoRow.lolomoRow_title_card:hover a.rowTitle:hover {
  color: #fff;
}
.lolomoRow.lolomoRow_title_card a.rowTitle:focus .aro-row-header .see-all-link,
.lolomoRow.lolomoRow_title_card:hover a.rowTitle:hover .aro-row-header .see-all-link {
  max-width: 200px;
  opacity: 1;
  transform: translate(1vw);
}
.lolomoRow.lolomoRow_title_card a.rowTitle:focus .aro-row-header .aro-row-chevron,
.lolomoRow.lolomoRow_title_card:hover a.rowTitle:hover .aro-row-header .aro-row-chevron {
  font-size: 0.65vw;
  line-height: 0.8vw;
  transform: translate(1vw);
}
@media screen and (max-width: 800px) {
  .lolomoRow.lolomoRow_title_card a.rowTitle:focus .aro-row-header .aro-row-chevron,
  .lolomoRow.lolomoRow_title_card:hover a.rowTitle:hover .aro-row-header .aro-row-chevron {
    font-size: 6px;
  }
}
.lolomoRow.lolomoRow_title_card a.rowTitle:focus .aro-row-chevron,
.lolomoRow.lolomoRow_title_card:hover a.rowTitle .aro-row-chevron {
  display: inline-block;
  font-size: 0.9vw;
  vertical-align: bottom;
}
.lolomoRow.lolomoPreview .rowTitle {
  background-color: #1a1a1a;
}
.lolomoRow .rowHeader {
  line-height: 1.3;
  margin: 0;
}
.boxart-rounded {
  border-radius: 0.2vw;
}
.boxart-rounded:hover {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.boxart-rounded .fallback-text-container {
  border-radius: 4px;
}
.boxart-size-16x9 {
  padding: 28.125% 0;
}
.boxart-size-16x9 {
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.fallback-text-container {
  background-color: #222;
  background-image: linear-gradient(transparent, #000);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.fallback-text {
  bottom: 0;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: 700;
  left: 8%;
  margin: 0;
  overflow: hidden;
  padding: 0 0 10%;
  position: absolute;
  right: 8%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.boxart-image-in-padded-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.title-card {
  position: relative;
  z-index: 1;
}
.title-card:focus {
  outline: none;
}
.title-card.is-jaw-open {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.title-card.is-dimmed .boxart-container {
  opacity: 0.6;
}
.title-card .boxart-container img {
  cursor: pointer;
}
.title-card .slider-refocus {
  display: block;
}
.title-card .slider-refocus :focus {
  outline: none;
}
.title-card .slider-refocus:focus-visible {
  outline: auto;
}
.title-card-container .click-to-change-JAW-indicator {
  bottom: 0.4vw;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -10px);
  transition: transform 0.4s, opacity 0.4s;
  transition-delay: 0.2s;
  z-index: 1;
}
.bob-card {
  background-color: #141414;
  border-radius: 4px;
  color: #fff;
  position: absolute;
  visibility: hidden;
  z-index: 2;
}
.bob-jawbone-chevron {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-name: chevronSlideDown;
  animation-name: chevronSlideDown;
  text-align: center;
}
.bob-jawbone-chevron svg {
  height: 1vw;
  width: 3vw;
}
.slick-slide {
  padding: 0 0.2vw;
}