.k1-category .k1-category-wrapper Link{
    color: black;
}

.k1-category .k1-category-wrapper .k1-top-article{
    margin: 0 0 16px;
}
.k1-top-articles .k1-category .k1-category-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 24px;
    color: black;
}

.k1-container {
    margin : 0 auto;
    max-width: 1248px;
    padding: 0 48px;
    
}

.k1-top-articles .k1-category {
    margin-top: 60px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    float: left;
    width: 21%;
}

.k1-top-articles .k1-categories:after {
    clear: both;
    content: "";
    display: table;
}

.k1-top-articles .k1-category>.k1-category-wrapper {
    margin: 0 12px;
}
.k1-top-articles .k1-categories {
    float: left;
    min-height: 10px;
    width: 79%;
}

.k1-top-articles:after {
    clear: both;
    content: "";
    display: table;
}

.k1-global-header .k1-inner-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}


.k1-global-header{
    background-color: black;
    position: relative;
}

.k1-global-header .k1-inner-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}

.k1-global-header .k1-branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0;
    padding-right: 24px;
}

p>a:hover{
    text-decoration: underline;
}

.k1-global-header .k1-actions {
    float: none;
    display: flex;
    flex: 1 0;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 16px;
    justify-content: flex-end;
}

.k1-global-container .k1-global-content .k1-breadcrumb li {
    display: inline-block;
}

.k1-global-container .k1-global-content {
    border-bottom: 1px solid #d5d4d1;
    margin: 0 0 24px;
    padding-bottom: 24px;
}

.k1-breadcrumb {
    border-bottom: 1px solid #d5d4d1;
    margin: 0 0 24px;
    padding-bottom: 24px;
}

.k1-global-content {
    padding: 32px 0 16px;
    min-height: 360px;
}

.k1-page-article .k1-global-content ul {
    margin: 24px 0;
}

.k1-global-container h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 32px;
}

.k1-global-header .k1-branding .k1-helpcenter-logo {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
    white-space: nowrap;
    color: #f5f5f1;
}

.k1-global-container p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px;
}

.k1-left-pane{
    width: 68%;
}
.k1-left-pane {
    float: left;
}

.k1-right-pane h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 8px;
}
 .k1-right-pane {
    float: left;
    width: 32%;
}

.k1-global-contactbar {
    background: #f2f2f2;
    box-sizing: border-box;
    height: 96px;
    padding: 24px 0;
    text-align: right;
}
.k1-global-contactbar .k1-bar-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    font-weight: 800;
    float: left;
    line-height: 48px;
    margin: 0;
    text-align: left;
}

.k1-global-container {
    margin-bottom: -256px;
    min-height: 100%;
}
.k1-pane-wrapper:after{
    clear: both;
    content: "";
    display: table;
}

.k1-global-footer{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background: #221f1f;
    display: block;
    height: 256px;
}
.k1-footer-push{
    height: 256px;
}
.k1-right-pane>.k1-wrapper{
    margin-left: 80px;
}
.k1-related-articles a{
    position: relative;
    color: black;
    text-decoration: underline;
    display: inline;
    font-weight: 400;
    line-height: 24px;

}
.k1-page-block ul li {
    margin: 0 0 8px;
    padding: 0 0 0 24px;
    position: relative;
    
}

.k1-page-block ol {
    list-style: decimal;
    padding-left: 24px;
}

.k1-top-articles .k1-category:first-of-type .k1-category-wrapper {
    margin-left: 0;
}

.k1-top-articles .k1-categories .k1-category {
    width: 25%;
}
.k1-top-article a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4c4948;
    display: block;
    padding-right: 24px;
    position: relative;
}

.k1-top-article a:hover {
    color: #e50914;
    font-weight: 400;
}

.k2-noreferrer:hover {
    color: #e50914;
}
.k1-page-block ul li:before {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    content: "";
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}
.k1-page-block ul li:after {
    background: #221f1f;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 9px;
    position: absolute;
    top: 9px;
    width: 6px;
}

/* .k1-related-articles{
    margin: 24px 0;
} */

 .k1-warning:before {
    background: url(https://help.nflxext.com/helpcenter/6546d9f6cb64ebb7df0045fadff9d3d5.svg) 50%;
    background-repeat: no-repeat;
    content: "";
    height: 24px;
    left: 0;
    position: absolute;
    top: 0.2em;
    width: 24px;
}
 .k1-warning {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    margin: 0 0 16px;
    padding: 0 0 0 32px;
    position: relative;
}

.k1-page-article table {
    border: 1px solid #d5d4d1;
    border-collapse: collapse;
    margin: 0 0 40px;
    text-align: left;
    width: 100%;
    border-spacing: 0;
}


.k1-page-article table thead p,.k1-page-article table thead th {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background: #f5f5f1;
    margin: 0;
}

.k1-page-article table thead th {
    border: 1px solid #d5d4d1;
    padding: 8px;
    vertical-align: top;
}

.k1-page-article table tbody td, .k1-page-article table tbody td p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.k1-page-article table tbody td {
    background: #fff;
    border: 1px solid #eaeae6;
    border-left: 0;
    padding: 8px 16px;
    vertical-align: top;
}
.k1-note{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    border-left: 4px solid #d5d4d1;
    color: #221f1f;
    display: block;
    margin: 8px 0 24px;
    padding: 0 12px;
    position: relative;

}

.k1-icon-wrap{
    font-weight: 700;
    margin: 0 4px 0 0;
    text-transform: uppercase;
 
}
.k1-kb-title{
    width: 68%;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 32px;

}

.k1-page-block a {
    color: #e50914;
    font-weight: 400;
    text-decoration: none;
}
.k1-related-articles a{
    position: relative;
    color: #000;
    text-decoration: underline;
    display: inline;
}

.k1-page-article-ol{
    margin: 24px 0;
    list-style: decimal;
    padding-left: 24px;
    margin: 0 0 16px;
}
.k1-accordion .k1-tab .k1-tab-title a {
    color: #4c4948;
    display: block;
    font-weight: inherit;
    transition: color 125ms ease;
}
.k1-accordion .k1-tab .k1-tab-title h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    margin: 0!important;
    padding: 4px 4px 4px 32px;
    position: relative;
    word-wrap: break-word;
}
.k1-accordion .k1-tab {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    background: #fff;
    border: 1px solid #eaeae6;
    border-radius: 4px;
    margin: 0 0 8px;
    margin-bottom: 24px;
}
.k1-accordion .k1-tab .k1-tab-title h2:before {
    background: url(https://help.nflxext.com/helpcenter/5810068f6a686d6a6879f635716f6c70.svg);
    background-position: 50%;
    color: #e50914;
    content: "";
    height: 24px;
    left: 4px;
    position: absolute;
    top: 4px;
    transform: rotate(90deg);
    transform-origin: center center;
    transition: transform .25s ease;
    width: 24px;
}

.k1-accordion .k1-tab .k1-tab-content {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 0 16px 0 32px;
}
.k1-article-content .k1-page-block h2, 
.k1-article-content .k1-page-block h3, 
.k1-page-article .k1-page-block h2, 
.k1-page-article .k1-page-block h3 {
    margin-top: 40px;
}
.k1-page-article h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 8px;
}

.k1-article-content img, .k1-page-article img {
    display: inline-block;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0 2px;
    vertical-align: middle;
}

.k1-global-content {
    padding: 32px 0 16px;
    min-height: 360px;
}

.k1-article-feedback {
    border-top: 1px solid #d5d4d1;
    margin-top: 24px;
    padding: 24px 0;
}

.k1-feedback-prompt:after {
    clear: both;
    content: "";
    display: table;
}

.k1-feedback-header {
    float: left;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.k1-h-btn.k1-btn-link {
    display: inline;
    background: none;
    border: 0;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    vertical-align: inherit;
    position: relative;
    color: #000;
    text-decoration: underline;
}

.k1-article-feedback .k1-feedback-prompt .k1-prompt-buttons .k1-h-btn {
    margin: 0 0 0 16px;
    min-width: 0;
    font-size: 16px;
}

.k1-page-article img {
    display: inline-block;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0 2px;
    vertical-align: middle;
}

.k1-NF_UIREF{
    font-weight: bold;
}

.page-block h3 {
    margin-top: 40px;
}

.k1-page-article h3 {
    margin-top: 40px;
}

.k1-related-article a:hover {
    color:#4c4948;
}

.k1-related-article a {
    font-size: 16px;
}

.k1-aa:hover {
    color: #e50914;
    font-weight: 600;
}

.k1-breadcrumb a {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: inline-block;
}

.k1-top-articles  a:hover {
    text-decoration: underline;
}

.k1-global-footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background: #221f1f;
    display: block;
    height: 256px;
}

.k1-global-contactbar {
    background: #f2f2f2;
    box-sizing: border-box;
    height: 96px;
    padding: 24px 0;
    text-align: right;
}

.k1-bar-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    font-weight: 800;
    float: left;
    line-height: 48px;
    margin: 0;
    text-align: left;
}

.k1-global-contactbar .k1-contact-channels:after {
    clear: both;
    content: "";
    display: table;
}

.k1-global-contactbar .channel {
    display: inline-block;
    vertical-align: top;
}
.k1-popover-wrapper {
    position: relative;
}

.k1-global-contactbar {
    background: #f2f2f2;
    box-sizing: border-box;
    height: 96px;
    padding: 24px 0;
    text-align: right;
}

.k1-btn.k1-btn-lightgrey {
    background: #fff;
    border-color: #8b8a88;
    color: #4c4948;
}

.k1-popover {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    background: #f5f5f1;
    border-radius: 4px;
    box-shadow: 0 0 16px rgb(0 0 0 / 14%), inset 0 0 0 1px rgb(0 0 0 / 10%);
    display: none;
    left: 0;
    padding: 24px;
    position: absolute;
    text-align: left;
    top: 0;
    word-wrap: break-word;
    z-index: 400 /*!rtl:begin:ignore*/ /*!rtl:end:ignore*/;
}

.k1-global-contactbar .k1-popover, .k1-page-contact-us .k1-channel .k1-popover {
    bottom: 100%!important;
    left: auto!important;
    margin-bottom: 16px;
    position: absolute;
    right: 0!important;
    top: auto!important;
    width: auto!important;
}

.k1-global-contactbar .k1-popover .k1-popover-content, .k1-page-contact-us .k1-channel .k1-popover .k1-popover-content {
    max-width: 280px;
    min-width: 280px;
}

.k1-popover .k1-popover-close {
    background: url(https://help.nflxext.com/helpcenter/180ec25d4b77ea6a104260141e8b42c7.svg) 50% no-repeat;
    border: 0;
    cursor: pointer;
    display: block;
    height: 24px;
    overflow: hidden;
    position: absolute;
    right: 8px;
    text-indent: -9999em;
    top: 8px;
    width: 24px;
}

.k1-global-contactbar .k1-channel+.k1-channel {
    margin-left: 24px;
}

.k1-global-contactbar .k1-channel {
    display: inline-block;
    vertical-align: top;
}

.k1-global-contactbar .k1-channel>.k1-channel {
    display: block;
    float: none;
    margin: 0;
    width: auto;
}

.k1-global-contactbar .k1-channel {
    display: inline-block;
    vertical-align: top;
}
.k1-popover-wrapper {
    position: relative;
}

.k1-global-footer>.k1-dark-area {
    padding-bottom: 72px;
    padding-top: 40px;
}

.k1-global-footer .k1-footer-links {
    float: right;
    margin: 0;
}

.k1-global-footer .k1-footer-links .k1-legalese-item {
    float: left;
    margin-left: 32px;
}

.k1-global-footer>.k1-dark-area a {
    color: #8b8a88;
}

.k1-global-footer .k1-footer-links:after {
    clear: both;
    content: "";
    display: table;
}

.k1-global-footer>.k1-dark-area:after {
    clear: both;
    content: "";
    display: table;
}

.k1-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Netflix Sans,Helvetica,Arial,sans-serif;
    height: 48px;
    letter-spacing: .01em;
    min-width: 96px;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    transition: color .15s ease,background-color .15s ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    --tw-content: '';
}

::selection {
    background: #4c4948;
    color: #fff;
}

.k1-btn:hover {
    background: #eaeae6;
    color: #4c4948;
} 
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

.k2-title {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    flex-grow: 1;
    line-height: 24px;
    color: #221f1f;
    text-decoration: none;
    align-self: center;
}



.k2-recommendation a {
    flex-direction: row;
    padding: 16px;
    text-decoration: none!important;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.k2-category .k2-category-wrapper a{
    color: black;
}

.k2-category .k2-category-wrapper .k2-top-article{
    margin: 0 0 16px;
}
.k2-top-articles .k2-category .k2-category-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 24px;
    color: black;
}

.k2-top-articles .k2-category {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    float: left;
    width: 21%;
}

.k2-top-articles .k2-categories:after {
    clear: both;
    content: "";
    display: table;
}

.k2-top-articles .k2-category>.k2-category-wrapper {
    margin: 0 12px;
}
.k2-top-articles .k2-categories {
    float: left;
    min-height: 10px;
    width: 79%;
}

.k2-top-articles:after {
    clear: both;
    content: "";
    display: table;
}

.k2-your-account-link:hover {
    text-decoration: underline;
}

.k2-signout-link:hover{
    text-decoration: underline;
}
.k2-arrow {
    
    content: "";
    display: block;
    margin-top: -10px;
    height: 24px;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: rotate(180deg);
    width: 24px;
}

.k2-global-header .k2-inner-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}

.k2-search-control {
    background-image: url('https://help.nflxext.com/helpcenter/2597c66e2e6e352867e6b26ac4f7baa3.svg');
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999em;
    z-index: 1;
    box-shadow: none;
    padding: 0;
    appearance: none;
    pointer-events: none;
}

.k2-title:hover {
    text-decoration: underline;
    color: #e50914;
}

.k2-btn:hover{
    text-decoration: underline;
}

.k2-li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: -8px;
    margin-left: 20px;
    /* list-style: disc; */
}

.k2-ul {
    margin: 24px 0;
}

a {
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.k2-accordion .k2-tab .k2-open {
    margin-bottom: 24px;
}

.k2-accordion .k2-tab {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    background: #fff;
    border: 1px solid #eaeae6;
    border-radius: 4px;
    margin: 0 0 8px;
}

.k2-accordion .k2-tab .k2-tab-title.open h2:before {
    transform: rotate(180deg);
}

.k2-accordion .k2-tab .k2-tab-title h2:before {
    background: url(https://help.nflxext.com/helpcenter/5810068f6a686d6a6879f635716f6c70.svg);
    background-position: 50%;
    color: #e50914;
    content: "";
    height: 24px;
    left: 4px;
    position: absolute;
    top: 4px;
    transform: rotate(90deg);
    transform-origin: center center;
    transition: transform .25s ease;
    width: 24px;
}

.k2-accordion .k2-tab .k2-tab-title h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    margin: 0!important;
    padding: 4px 4px 4px 32px;
    position: relative;
    word-wrap: break-word;
}


.k1-page-block h3 {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 8px;
}


.k2-page-article .k2-has-related-articles .k2-related-articles a {
    position: relative;
    color: #000;
    text-decoration: underline;
    display: inline;
}

 .k2-container{
    max-width: 1248px;
    padding: 0 48px;
    margin: 0 auto;
    padding-top: 24px;
}

.k2-global-header>.k2-container {
    position: relative;
    padding-top: 16px;
}

.k2-page-home .k2-global-header>.k2-container {
    padding-top: 24px;
}

.k2-.global-content {
    padding: 32px 0 16px;
    min-height: 360px;
}

/* .k2-article-content 
.k2-has-related-articles 
.k2-container, 
.k2-page-article 
.k2-has-related-articles 
.k2-container, 
.k2-page-troubleshooting 
.k2-has-related-articles 
.k2-container {
    max-width: 1248px;
} */


h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 32px;
}


.k2-has-related-articles {
    clear: both;
    content: "";
    display: table;
}

.k2-page-article 
.k2-has-related-articles
.k2-left-pane {
    width: 68px;
    float: left;
}

.k2-page-article {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    border-left: 4px solid #d5d4d1;
    color: #221f1f;
    display: block;
    margin: 8px 0 24px;
    padding: 0 12px;
    position: relative;
}

.k2-note {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    border-left: 4px solid #d5d4d1;
    color: #221f1f;
    display: block;
    margin: 8px 0 24px;
    padding: 0 12px;
    position: relative;
}

.k2-icon-wrap {
    font-weight: 700;
    margin: 0 4px 0 0;
    text-transform: uppercase;
}

.k2-page-article .k2-note>div {
    display: inline;
}

.k2-ol {
    margin: 24px 0;
    /* list-style: decimal; */
    padding-left: 24px;
}

.k2-page-block k2-ol li {
    margin: 0 0 8px;
    padding: 0 0 0 24px;
    position: relative;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.k2-aa {
    color: #e50914;
    font-weight: 400;
    text-decoration: none;
    margin-left: 4px;
}

.k2-page-block ul li:before {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    content: "";
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.k2-page-block ul li {
    margin: 0 0 8px;
    padding: 0 0 0 24px;
    position: relative;
}

.k2-page-article {
    float: left;
    width: 32%;
}

.k2-right-pane {
    float: left;
    width: 32%;
}

.k2-pane-wrapper:after {
    clear: both;
    content: "";
    display: table;
}

.k2-global-header .k2-actions {
    float: none;
    display: flex;
    flex: 1 0;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 16px;
    justify-content: flex-end;
}

.k2-global-header .k2-dropdown .k2-dropdown-toggle:after {
    content: "";
    display: block;
    margin-top: -10px;
    height: 24px;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: rotate(180deg);
    width: 24px;
}

.k2-dropdown.open .k2-dropdown-toggle {
    text-decoration: underline;
}

.k2-global-header .k2-dropdown .k2-dropdown-toggle {
    border-radius: 2px;
    color: #f5f5f1;
    display: block;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    padding-right: 32px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    border: none;
}

.k2-global-header .k2-actions .k2-btn {
    font-size: 16px;
    line-height: 14px;
    padding: 8px;
    width: auto;
    flex-shrink: 0;
}

.k2-btn.k2-btn-med {
    height: 32px;
    padding: 8px;
}

.k2-btn{
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Netflix Sans,Helvetica,Arial,sans-serif;
    height: 48px;
    letter-spacing: .01em;
    min-width: 96px;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    transition: color .15s ease,background-color .15s ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.k2-global-header .k2-dropdown .k2-dropdown-menu {
    background: #f5f5f1;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0,0,0,.14),inset 0 0 0 1px #b6b5b2;
    margin-top: 8px;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 100%;
}

.k2-global-header .k2-dropdown .k2-dropdown-menu a:after {
    background: url(https://help.nflxext.com/helpcenter/5177e9cd4c72a1773b001f7bfa929ffb.svg);
    background-position: 50%;
    content: "";
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    top: 2px /*!rtl:begin:ignore*/ /*!rtl:end:ignore*/;
}

.k2-global-header .k2-dropdown .k2-dropdown-menu li {
    display: block;
    margin: 0 0 8px;
}

.k2-global-header .k2-dropdown .k2-dropdown-menu a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #221f1f;
    display: inline-block;
    padding-right: 24px;
    position: relative;
    white-space: nowrap;
}

.k2-global-container {
    margin-bottom: -256px;
    min-height: 100%;
}

.k2-page-home .k2-global-header {
    background: #000;
}

.k2-global-header {
    position: relative;
    /* max-width: 1440px; */
}
  

.k2-page-home .k2-container {
    max-width: 1248px;
}

.k2-global-header .k2-inner-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}

.k2-page-home .k2-global-header form {
    margin: 0 auto;
    padding-bottom: 32px;
}

.k2-react-autosuggest__container .k2-form-control {
    border-color: #8b8a88;
    padding: 9px 16px 9px 56px;
}

.k2-form-control {
    font-size: 16px;
    line-height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d5d4d1;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-weight: 400;
    outline: none;
    padding: 17px 16px;
    width: 100%;
}

.k2-global-header .k2-branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0;
    padding-right: 24px;
}

.k2-logo{
    width: 132px;
    height: 36px;
}

.k2-page-home .k2-global-header>.k2-container {
    padding-top: 24px;
}

ol {
    margin: 24px 0;
}

.k2-global-header .k2-dropdown .k2-dropdown-toggle {
    border-radius: 2px;
    color: #f5f5f1;
    display: block;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    padding-right: 32px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}

.k2-noreferrer {
    flex-direction: row;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-grow: 1;
    justify-content: start;
    font-weight: 400;
}