.category .category-wrapper a{
    color: black;
}

.category .category-wrapper .top-article{
    margin: 0 0 16px;
}
.top-articles .category .category-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 24px;
    color: black;
}
.container{
    max-width: 1248px;
}
.container {
    margin: 0 auto;
    max-width: 1248px;
    padding: 0 48px;
}

.top-articles .category {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    float: left;
    width: 21%;
}

.top-articles .categories:after {
    clear: both;
    content: "";
    display: table;
}

.top-articles .category>.category-wrapper {
    margin: 0 12px;
}
.top-articles .categories {
    float: left;
    min-height: 10px;
    width: 79%;
}

.top-articles:after {
    clear: both;
    content: "";
    display: table;
}

.arrow {
    
    content: "";
    display: block;
    margin-top: -10px;
    height: 24px;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: rotate(180deg);
    width: 24px;
}