<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="userChat.bean.UserChatRoomDTO" alias="userChatRoom"/>
		<typeAlias type="userChat.bean.UserChatDTO" alias="userChat"/>
		<typeAlias type="user.bean.UserDTO" alias="user"/>
		<typeAlias type="user.bean.UserProfileDTO" alias="userProfile"/>
		<typeAlias type="pick.bean.PickDTO" alias="pick"/>
		<typeAlias type="classification.bean.ClassificationDTO" alias="classification"/>
	</typeAliases>
	
	<mappers>
	</mappers>
</configuration>